* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #c7aa92;
}
body {
  background-color: #5C5946;
}
#root {
  width: 100%;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
}
